{% extends 'base.html.twig' %}

{% block title "CCEABT :  " %}

{% block body %}
    <div id="app"></div>
{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}
